* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
p {
font-family: Helvetica;
}
h1 {
margin:0px;
margin: -10px;
color: black;
}
h2 {
margin: 40px;
}
h3 {
font-size: 1.5em;
}
.col{
position: relative;
float: left;
border: thick solid black;
background-color:#808080;
margin-bottom: 25px;
}
.item-title{
position: absolute;
top: -25px;
border: thick solid black;
right: -5px;
width:50%;
height: 35px;
}
.item-bg-1{
background-color: #F4A460;
}
.item-bg-2{
background-color: #A52A2A;
}
.item-bg-3{
background-color: #FFE4B5;
}
.item-matter{
padding: 35px 15px 0px 15px;
}
#header-nav {
background-color:#808080;
border: thick solid black;
}
.box{
margin-top: 1rem;
margin-left: 3rem;
height: 6rem;
}
.text-item {
    color: black;
    font-size: 2rem;
}
.item-bg{
	background-color:silver;
	width: 100%;
}
.item-bg-4{
	background-color: white;
}